* {
   padding: 0;
   margin: 0;
}

body {
   background-image: url(background.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   font-family: "Arial", sans-serif;
   font-size: 20px;
   line-height: 1.6;
   color: #333; 
}

h1 {
   font-size: 28px;
   color: #e10600;
}

h2 {
   font-size: 24px;
   color: #333;
}

p {
   margin-bottom: 30px;
   text-align: left;
}

header {
   font-family: Arial, sans-serif;
   background-color: #e10600;
   color: white;
   text-align: center;
   padding: 20px;
}

nav {
   background-color: #333;
   color: white;
   text-align: center;
   padding: 10px;
}

nav a {
   color: white;
   text-decoration: none;
   margin: 0 10px;
}

section {
   margin: 20px;
   padding: 20px;
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   text-align: center;
}

h2 {
   color: #333;
}

img {
   max-width: 100%;
   height: auto;
   border-radius: 5px;
   margin-bottom: 10px;
}

footer {
   background-color: #333;
   color: white;
   text-align: center;
   padding: 10px;
   position: fixed;
   bottom: 0;
   width: 100%;
}
